.container-2 {
  padding: 80px 160px;
}
.title-section {
  font-size: 36px;
  font-weight: 300;
}
@media only screen and (max-width: 767px) {
  .container-2 {
    padding: 80px 20px;
    .list-set {
      .set {
        width: 100%;
        text-align: center;
        img {margin-bottom: 20px;}
      }
    }
  }	
}