.footer-box {
  padding: 40px 80px;
  background: #000d19;
  color: #fff;
  & > div.uk-grid {
    & > div {
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        list-style: none;
        padding: 5px 0;
        h3 {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.29;
          text-align: left;
          color: #ffffff;
        }
        a {
          font-size: 14px;
          line-height: 1.29;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
  .footer-link {
    padding: 20px 0;
  }
}
.copy-right {
  padding: 10px 80px;
  background: #fff;

  .socmed{
    width: 20px;
    height: 20px;
  }
}

.uk-button-primary {
  -webkit-appearance: initial;
}

@media only screen and (max-width: 1200px) {
  .footer-box {
    & > div.uk-grid > div {
      margin-bottom: 30px;
      h3 {  margin-bottom: 10px; }
    }
  }
}

@media only screen and (max-width: 960px) {
    .footer-box {
    padding: 40px 20px;
    & > div.uk-grid > div {
      margin-bottom: 30px;
      width: calc(100% * 1 / 3.001);
      &:last-child {
        margin-bottom: 0;
      }
      h3 {
        margin-bottom: 0;
      }
    }
  }
  .copy-right {
    padding: 25px 20px;
    .uk-width-1-3 { display: none; }
  }
}
@media only screen and (max-width: 640px) {
  .footer-box > div.uk-grid > div { width: 100%; }
  .footer-box,
  .footer-box > div.uk-grid > div li h3,
  .copy-right { text-align: center; }
}
.comp-email {
  position: inherit;
}