.header-background {
  background-size: 100% auto;
  background-repeat: no-repeat;
  .height-body {
    .padding-body {
      box-sizing: border-box;
    }
  }
  &.header-no-background {
    .uk-preserve-color {
      background-image: none;
      background-color: #ffffff;
      .uk-navbar-container {
        background-color: #ffffff;
        &.uk-navbar-transparent {
          .uk-navbar-left {
            .logo {
              background-image: url(https://assets.bizzy.co.id/logo.svg);
            }
            .user-link {
              color: #333d47;
            }
          }
          .uk-navbar-right {
            .button-register {
              background: #0088ff;
              color: #fff;
              box-shadow: none;
            }
            .ts-button-login {
              box-shadow: none;
              color: #0088ff;
              border: 1px solid #0088ff;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .header-background {
    background-size: 1900px auto !important;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .header-background {
    background-size: 1490px auto !important;
  }
}
@media only screen and (max-width: 960px) {
  .header-background {
    background-size: auto 100% !important;
    .height-body {
      height: auto !important;
    }
    .box-sub-title {
      position: relative !important;
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      padding: 40px 0 !important;
    }
  }
  .image-mobile {
    text-align: center;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .header-background {
    .height-body {
      .padding-body {
        padding: 60px 40px;
        span {
          font-size: 25px;
        }
      }
    }
  }

  .mobile-size {
    width: 100% !important;
    text-align: center;
    img {
      margin-bottom: 30px !important;
      width: 220px;
    }
  }
}

.header-background {
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.header-background-punchout {
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
  background-color: #fff;
}

.header-background {
  background-image: url(https://assets.bizzy.co.id/static-page/tentang-kami@3x.jpg);
}

.customer {
  background-image: url('https://assets.bizzy.co.id/home/background-customer.png');
}

.punchout {
  background-image: url('https://assets.bizzy.co.id/punchout/background-header-punchout.png');
}

.vendor {
  background-image: url('https://assets.bizzy.co.id/home/background-headerbody.jpg');
}

.uk-navbar-container.uk-navbar-transparent .uk-navbar-left > div,
.uk-navbar-container.uk-navbar-sticky .uk-navbar-left > div {
  width: 132px;
  height:40px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.uk-navbar-container.uk-navbar-sticky {
  background-color: #ffffff;
  border: solid 1px #e5e6e8;
}

.logo{
  width: 132px;
  height: 40px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.uk-navbar-container.uk-navbar-transparent .uk-navbar-left > .logo {
  background-image: url('https://assets.bizzy.co.id/logo-white.svg');
  height: 50px;
}

.uk-navbar-container.uk-navbar-sticky .uk-navbar-left > .logo {
  background-image: url('https://assets.bizzy.co.id/logo.svg');
}

.uk-button-default {
  color: #fff;
  margin-right: 20px;
}

.uk-navbar-container.uk-navbar-sticky .uk-button-default {
  color: #0088ff;
}

.uk-button {
  box-shadow: none;
}

.uk-navbar-container.uk-navbar-sticky .uk-button {
  box-shadow: none;
  border: 1px solid #0088ff;
}

.button-register {
  background: #fff;
  color: #000d19;
  border: 1px solid #ddd;
  box-shadow: none;
}

.uk-navbar-container.uk-navbar-sticky .button-register {
  background: #0088ff;
  color: #fff;
  box-shadow: none;
}

.button-register:hover {
  background: #e5e5e5;
}

.user-link {
  color: #fff;
  cursor: pointer;
  transition: .1s ease-in-out;
}

.user-link:hover {
  color: #e5e5e5;
  text-decoration: none;
}

.uk-navbar-container.uk-navbar-sticky .user-link{
  color: #0088ff;
}


.uk-navbar-container.uk-navbar-sticky .uk-button {
  box-shadow: none;
  border: 1px solid #0088ff;
}
.uk-navbar-container.uk-navbar-sticky .button-register.bkg-transparent {
  background: transparent;
  color: #08f;
  border: 1px solid #08f;
}

.button-register {
  background: #fff;
  color: #000d19;
  border: 1px solid #ddd;
  box-shadow: none;
}
.header-no-background .button-register.bkg-transparent {
  background: transparent;
  color: #08f;
  border: 1px solid #08f;
}
.button-register.bkg-transparent {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.uk-navbar-container.uk-navbar-sticky .button-register {
  background: #0088ff;
  color: #fff;
  box-shadow: none;
}

.button-register:hover {
  background: #e5e5e5;
}

.mobile-menu { 
  display: none;
}

@media only screen and (max-width: 960px) {
  .web-menu { display: none; }
  .mobile-menu { display: inline-block;
    .uk-navbar-dropdown {
      background: rgba(0,0,0, 0.3);
      width: 100%;
      text-align: center;
    }
  }
  .header-background {
    background-size: cover !important;
    margin-bottom: -10px;
    background-position: center top;
    .uk-margin-70-right { margin-right: 0 !important; }
    .uk-margin-70-left { margin-left: 0 !important; }
  }

  .uk-navbar-container.uk-navbar-sticky .mobile-menu .uk-navbar-dropdown {
    background: rgba(255, 255, 255, 0.9);
  }

  .uk-navbar-item > a {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .header-background {
    .uk-margin-70-right { margin-right: 0 !important;}
    .uk-margin-70-left { margin-left: 0 !important; }
  }
  .mobile-menu {
    .uk-navbar-dropdown {
      flex-direction: column;
      background: rgba(0, 0, 0, 0.8);
      &.uk-open {
        display: flex !important;
        a {
          width: 100%;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


.height-body {
  height: 520px;
}

.padding-body {
  padding: 120px 80px;
}

.title-header {
  color: #fff;
  font-size: 38px;
  font-weight: 300;
}

.subtitle-header {
  font-size: 16px;
  color: #fff;
}
@media only screen and (max-width: 960px) {
  .padding-body {
    text-align: left;
    padding: 60px 50px;
  }
  .height-body {
    height: auto;
  }
}

@media only screen and (max-width: 640px) {
  .padding-body {
    text-align: left;
    padding: 50px 20px 70px;
    br { display: none; }
  }
}