.menu-body {
  padding: 0 80px;
  .user-link {
    color: #000d19;
    font-size: 14px;
    padding: 18px 70px;
    display: inline-block;
    &:hover {text-decoration: none;}
    &.active {
      color: #0088ff;
      border-bottom: solid 2px #0088ff;
    }
  }
}
hr.menu-separate {
  border-top: solid 1px #e5e6e8;
  margin: -1px 0 0;
}
@media only screen and (max-width: 640px) {
  .menu-body {
    padding: 0;
    .user-link {
      width: 100%;
      padding: 18px 0;
      border-bottom: 1px solid #e5e6e8;
    }
  }
}