.title-body {
  padding: 45px 30px 45px;
  text-align: center;
  h3 {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #00447f;
  }
}

.title-box1 {
  font-size: 20px;
  font-weight: 600;
  color: #00447f;
}
.container-one {
  padding: 0 80px 80px;
}
@media only screen and (max-width: 959px) {
  .container-one {
    .list-set {
      margin-top: 0 !important;
      .set {
        margin-bottom: 40px;
        text-align: center;
        img {margin-bottom: 20px;}
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .container-one {
    padding: 80px 20px;
  }
}