html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body{
  background: #fff;
}

@import "_header.scss";
@import "_menubody.scss";
@import "_titlebody.scss";
@import "_about.scss";
@import "_footer.scss";