footer.footer-box
    .uk-grid
      div(class='uk-width-1-1@s uk-width-2-3@m')
        a.nuxt-link-active(href='/')
          img(src='https://assets.bizzy.co.id/logo-white.svg', alt='logo', style='height: 40px;')
      div(class='uk-width-1-1@s uk-width-1-3@m')
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='https://bizzy.us11.list-manage.com/subscribe/post?u=ebd75d7cb09fef4c68c2b6d7c&id=5a74b5d2c1', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
            #mc_embed_signup_scroll
              label
                = __("RegAndGetNewestUpdate")
              .uk-inline.uk-inline-group.uk-width-1-1.uk-margin-small-top.comp-email
                input#mce-EMAIL.uk-input.ts-textfield-register.input(type='email', value='', name='EMAIL', placeholder= __("typeYourEmail"), aria-required='true', aria-invalid='false')
                div(aria-hidden='true', style='position: absolute; left: -5000px;')
                  input(type='text', name='b_ebd75d7cb09fef4c68c2b6d7c_5a74b5d2c1', tabindex='-1', value='')
                .clear
                  input#mc-embedded-subscribe.uk-button.uk-button-primary.ts-button-search(type='submit', name='subscribe', value='Daftar')
              small.uk-text-danger(style='display: none;')
                = __("errorEmail")
    .footer-link.uk-grid(class='uk-child-width-1-3@m uk-child-width-1-6@l')
      div
        ul
          li
            h3= __("aboutBizzy")
          li
            a.nuxt-link-exact-active.nuxt-link-active(href='/static-page/about', target='_self')= __("aboutUs")
          li
            a(href='/static-page/our-team', target='_self')= __("ourTeam")
          li
            a(href='/static-page/cooperation-status', target='_self')= __("cooperationStatus")
      div
        ul
          li
            h3= __("customerService")
          li
            a(href='/registration/register?is_vendor=0', target='_self')= __("customerRegistration")
          li
            a(href='/static-page/customer-service/shopping-guide', target='_self')= __("shoppingGuide")
          li
            a(href='/static-page/customer-service/payment', target='_self')= __("payment")
          li
            a(href='/static-page/customer-service/shipping', target='_self')= __("shipping")
          li
            a(href='/static-page/customer-service/return-and-exchange', target='_self')= __("returnAndExchange")
          li
            a(href='/static-page/customer-service/question-buying', target='_self')= __("question")
          li
            a(href='/static-page/customer-service/terms-condition', target='_self')= __("termAndCondition")
          li
            a(href='/static-page/customer-service/privacy-policy', target='_self')= __("pricavyPolicy")
      div
        ul
          li
            h3= __("vendorService")
          li
            a(href='/registration/register?is_vendor=1', target='_self')= __("vendorRegistration")
          li
            a(href='/static-page/vendor-service/general-guide?is_vendor=1', target='_self')= __("question")
          li
            a(href='/static-page/vendor-service/selling-guide', target='_self')= __("sellingGuide")
      div
        ul
          li
            h3 Media
          li
            a(href='/static-page/media-reviews', target='_self')= __("mediaReviews")
      div
        ul
          li
            h3= __("contactUs")
          li
            a(target='_self', href='https://goo.gl/forms/Cu0FoJGGxYWoV7HQ2')= __("help")
          li
            a(href='/static-page/career', target='_self')= __("career")
      div
        ul
          li
            a(href='tel:+622127899955', target='_top') Support : (021) 278-999-55
          li= __("workDay")
          li= __("workHour")
          li
            a(href='mailto:support@bizzy.co.id?Subject=Bizzy%support', target='_top') support@bizzy.co.id
  .copy-right
    .uk-grid
      div(class='uk-width-1-1@s uk-width-2-3@m')
        | © 2018 Bizzy Indonesia. 
        span= __("allRightReserved")
      .uk-width-1-3.uk-text-right(class='uk-visible@m')
        a.ts-button-youtube(href='https://www.youtube.com/channel/UCh7Y1LmfXFlwOBO9a6oEPgA', target='_blank')
          svg.uk-margin-16-right.socmed(viewbox='0 0 20 20')
            path(d='M18 0H2C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-1.1 17c-.1.4-.3.7-.6 1-.3.3-.6.4-1 .5-1.2.1-3 .2-5.4.2-2.4 0-4.2-.1-5.4-.2-.4 0-.7-.2-1-.5-.3-.3-.5-.6-.6-1-.2-.7-.3-1.9-.3-3.4s.1-2.6.3-3.4c.1-.4.3-.7.6-1 .3-.3.6-.4 1-.4 1.2-.1 3-.2 5.4-.2 2.4 0 4.2.1 5.4.2.4 0 .7.2 1 .4.3.3.5.6.6 1 .2.7.2 1.8.2 3.4.1 1.5 0 2.6-.2 3.4zm-4.5-9.2c-.3 0-.5-.1-.6-.4-.1-.2-.1-.4-.1-.7V2.9h.9v3.8c0 .1.1.2.2.2.2 0 .4-.1.5-.4V2.9h.9v4.8h-.9v-.5c-.2.4-.5.6-.9.6zm-1.3-3.3v1.7c0 .5-.1.9-.3 1.1-.3.3-.6.5-1 .5s-.8-.2-1-.5c-.2-.3-.3-.7-.3-1.2V4.5c0-.5.1-.9.3-1.1.2-.4.6-.6 1-.6s.8.2 1 .5c.2.3.3.6.3 1.2zM5.8 3c-.1-.2-.2-.5-.3-.9-.2-.4-.3-.7-.3-.9h1l.7 2.5.7-2.5h1L7.3 5.1v2.6h-1V5.1c0-.5-.2-1.2-.5-2.1z')
            path(d='M12 11.8c-.3 0-.6.2-.9.5v-2.1h-.9v6.4h.9v-.5c.3.4.6.5.9.5.4 0 .6-.2.7-.5.1-.2.1-.5.1-1v-1.9c0-.5 0-.8-.1-1-.1-.2-.3-.4-.7-.4zm0 3.5c0 .4-.1.6-.4.6-.1 0-.3-.1-.4-.2v-2.9c.1-.1.3-.2.4-.2.3 0 .4.2.4.7v2zm2.8-3.5c-.4 0-.8.2-1 .5-.2.2-.3.6-.3 1.1v1.7c0 .5.1.9.3 1.1.3.3.6.5 1.1.5.5 0 .8-.2 1-.5.1-.2.2-.3.2-.5V15h-.9v.6c-.1.2-.2.3-.4.3-.3 0-.4-.2-.4-.7v-.8h1.7v-1c0-.5-.1-.9-.3-1.1-.2-.3-.6-.5-1-.5zm.4 1.9h-.9v-.4c0-.4.1-.7.4-.7.3 0 .4.2.4.7v.4zm-6.5 1.8c-.2.3-.4.4-.5.4-.1 0-.2-.1-.2-.2v-3.8h-.9v3.8c0 .3 0 .6.1.7.1.2.3.4.5.4.3 0 .7-.2 1-.6v.5h.9v-4.8h-.9v3.6zM9.8 3.6c-.3 0-.4.2-.4.7v2c0 .5.1.7.4.7.3 0 .4-.2.4-.7v-2c0-.5-.1-.7-.4-.7zm-5.9 7.6h1v5.5h1v-5.5h1v-1h-3z')
        a.ts-button-linkedin(href='https://www.linkedin.com/company/bizzy-indonesia/', target='_blank')
          svg.uk-margin-16-right.socmed(viewbox='0 0 20 20')
            path.st0(d='M2 0c-.3 0-.5.1-.8.2.3-.1.5-.2.8-.2zm0 20c-.3 0-.5-.1-.8-.2.3.1.5.2.8.2zm8.8-11.1c0 .1 0 .1 0 0z')
            path.st0(d='M19.7.9c-.1-.2-.3-.4-.5-.5-.1-.1-.2-.1-.3-.2-.4-.1-.6-.2-.9-.2H2c-.3 0-.5.1-.8.2C.5.5 0 1.2 0 2v16c0 .8.5 1.5 1.2 1.8.3.1.5.2.8.2h16c.3 0 .5-.1.8-.2.1-.1.2-.1.3-.2.2-.1.4-.3.5-.5.2-.3.3-.7.3-1.1V2c.1-.4 0-.8-.2-1.1zm-15 2.4c1 0 1.7.7 1.7 1.6 0 .9-.7 1.6-1.7 1.6C3.6 6.4 3 5.7 3 4.9c0-.9.6-1.6 1.7-1.6zm1.5 13.4h-3v-9h3v9zm10.8 0h-3v-4.8c0-1.2-.4-2-1.5-2-.8 0-1.3.6-1.5 1.1-.1.2-.1.5-.1.7v5h-3v-9h3V9c.4-.6 1.1-1.5 2.7-1.5 2 0 3.5 1.3 3.5 4.1v5.1z')
        a.ts-button-blog(href='https://blog.bizzy.co.id/blog/', target='_blank')
          svg.uk-margin-16-right.socmed(viewbox='0 0 20 20')
            path.st0(d='M18 0H2C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm-1.8 9.4v2.9c0 2.2-1.8 4-4 4H7.8c-2.2 0-4.1-1.8-4.1-4V7.8c0-2.2 1.8-4 4.1-4h2c2.2 0 4 1.7 4 3.9 0 .4.4.8.8.8h.7c.6-.1.9.4.9.9z')
            path.st0(d='M12.3 11.6H7.7c-.4 0-.8.3-.8.8 0 .4.4.8.8.8h4.7c.4 0 .8-.4.8-.8-.1-.5-.4-.8-.9-.8zM7.7 8.4H10c.4 0 .8-.4.8-.8s-.4-.8-.8-.8H7.7c-.4 0-.8.4-.8.8 0 .5.3.8.8.8z')

