// uk-sticky uk-sticky-below uk-sticky-fixed
.uk-sticky(uk-sticky='animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200')
    nav.uk-navbar-container.uk-navbar-transparent.uk-light
      .uk-margin-70-right.uk-margin-70-left
        .uk-navbar(uk-navbar='')
          .uk-navbar-left.uk-navbar-item
            a.nuxt-link-active.logo(href='/')
          .uk-navbar-right.web-menu
            a(href='/home')
              button.uk-button.button-register.bkg-transparent.uk-margin-20-right.ts-button-signup
                = __("sellingInBizzy")
            a.nuxt-link-active(href='/')
              button.uk-button.button-register.uk-margin-20-right.ts-button-signup
                = __("shoppingInBizzy")
          .uk-navbar-right.mobile-menu
            a.uk-navbar-toggle(href='#', aria-expanded='false')
              span.uk-navbar-toggle-icon.uk-icon(uk-navbar-toggle-icon='')
                svg(width='20', height='20', viewbox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
                  rect(y='9', width='20', height='2')
                  rect(y='3', width='20', height='2')
                  rect(y='15', width='20', height='2')
            .uk-navbar-dropdown.uk-text-center.uk-navbar-dropdown-dropbar.uk-navbar-dropdown-bottom-right(uk-drop='mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav; flip: x')
              a(href='/home')
                button.uk-button.button-register.bkg-transparent.uk-margin-20-right.ts-button-signup
                  = __("sellingInBizzy")
              a.nuxt-link-active(href='/')
                button.uk-button.button-register.uk-margin-20-right.ts-button-signup
                  = __("shoppingInBizzy")

