

html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
      link(rel='stylesheet', href=contents.sass['bizzy-uikit.min.css'].url)
      link(rel='stylesheet', href=contents.sass['main.css'].url)
      link(rel="icon", type="image/png", sizes="16x16", href="https://assets.bizzy.co.id/favicon-16x16.png?v=2bQpAWeGdp")
      link(rel="icon", type="image/png", sizes="32x32", href="https://assets.bizzy.co.id/favicon-32x32.png?v=2bQpAWeGdp")

body

  header.header-background.uk-preserve-color
  
    include ./includes/header.jade

    .uk-sticky-placeholder(hidden='', style='height: 80px; margin: 0px;')
    .height-body(data-v-5e1ce972='')
      .padding-body(data-v-5e1ce972='')
        span.title-header(data-v-5e1ce972='')
          | Bizzy.co.id adalah marketplace digital, dinamis dan inklusif
          br(data-v-5e1ce972='')
          |  untuk bisnis yang dilengkapi oleh platform e-procurement
          br(data-v-5e1ce972='')
          |  untuk proses pencarian (sourcing), pengadaan taktis dan transaksional.

  .container-about(data-v-097e3dd4='')
    div(data-v-0d294c6a='', data-v-097e3dd4='')
        .menu-body.uk-text-center(data-v-0d294c6a='')
          a.user-link.nuxt-link-exact-active.nuxt-link-active.active(data-v-0d294c6a='', href='/static-page/about') Tentang Kami
          a.user-link(data-v-0d294c6a='', href='/static-page/our-team') Tim Kami
          a.user-link(data-v-0d294c6a='', href='/static-page/career') Karir
          a.user-link(data-v-0d294c6a='', href='/static-page/cooperation-status') Status Kerja Sama
          a.user-link(data-v-0d294c6a='', href='/static-page/media-reviews') Ulasan Media
        hr.menu-separate(data-v-0d294c6a='')
      .title-body(data-v-2e180716='', data-v-097e3dd4='')
        h3(data-v-2e180716='') Nilai Utama
      .container-one(data-v-67c65e22='', data-v-097e3dd4='')
        .uk-grid.uk-grid-match.uk-grid-large.list-set(data-v-67c65e22='', class='uk-child-width-1-2@m')
          div(data-v-67c65e22='')
            .uk-grid.set(data-v-67c65e22='')
              .uk-width-5-5(data-v-67c65e22='', class='uk-width-1-5@m')
                img(data-v-67c65e22='', src='https://assets.bizzy.co.id/static-page/about/transparancy.svg', alt='')
              .uk-width-5-5(data-v-67c65e22='', class='uk-width-4-5@m')
                .title-box1(data-v-67c65e22='')
                  span(data-v-67c65e22='')
                    | Perdagangan yang transparan, efisien, 
                    br
                    | dan dapat dipertanggungjawabkan adalah landasan kami
                .uk-margin-small-top.uk-margin-bottom(data-v-67c65e22='')
                  span(data-v-67c65e22='')
                    b Sebuah perjalanan seribu mil dimulai dengan satu langkah.
                | &#x9;&#x9;&#x9;&#x9;&#x9;Kami percaya untuk mencapai perekonomian yang bersih melalui transparansi, efisiensi dan akuntabilitas, satu perdagangan dalam satu waktu.
          div(data-v-67c65e22='')
            .uk-grid.set(data-v-67c65e22='')
              .uk-width-5-5(data-v-67c65e22='', class='uk-width-1-5@m')
                img(data-v-67c65e22='', src='https://assets.bizzy.co.id/static-page/about/proud.svg', alt='')
              .uk-width-5-5(data-v-67c65e22='', class='uk-width-4-5@m')
                .title-box1(data-v-67c65e22='')
                  | Bangga atas keahlian
                .uk-margin-small-top.uk-margin-bottom(data-v-67c65e22='')
                  b(data-v-67c65e22='')  Ide itu murah, eksekusi adalah yang terpenting. 
                | &#x9;&#x9;&#x9;&#x9;&#x9;Kami melakukan segalanya dengan kemampuan terbaik.
        .uk-grid.uk-grid-match.uk-grid-large.uk-margin-large-top.list-set(data-v-67c65e22='', class='uk-child-width-1-2@m')
          div(data-v-67c65e22='')
            .uk-grid.set(data-v-67c65e22='')
              .uk-width-5-5(data-v-67c65e22='', class='uk-width-1-5@m')
                img(data-v-67c65e22='', src='https://assets.bizzy.co.id/static-page/about/moveon.svg', alt='')
              .uk-width-5-5(data-v-67c65e22='', class='uk-width-4-5@m')
                .title-box1(data-v-67c65e22='')
                  | Selalu bergerak maju adalah pilihan kami satu-satunya
                .uk-margin-small-top.uk-margin-bottom(data-v-67c65e22='')
                  b(data-v-67c65e22='') Kami menerima dan menghadapi tantangan yang ada sekarang.
                | &#x9;&#x9;&#x9;&#x9;&#x9;Kami menyadari bahwa satu-satunya hari yang mudah dilalui adalah kemarin, oleh karena itu kami mungkin sering gagal. Namun kami tidak akan berhenti hingga kami berhasil karena kegagalan bukanlah pilihan. Kegagalan hanya suatu keadaan pemikiran.
          div(data-v-67c65e22='')
            .uk-grid.set(data-v-67c65e22='')
              .uk-width-5-5(data-v-67c65e22='', class='uk-width-1-5@m')
                img(data-v-67c65e22='', src='https://assets.bizzy.co.id/static-page/about/balance.svg', alt='')
              .uk-width-5-5(data-v-67c65e22='', class='uk-width-4-5@m')
                .title-box1(data-v-67c65e22='')
                  | Inovasi dan perbaikan berkelanjutan melalui kolaborasi
                .uk-margin-small-top.uk-margin-bottom(data-v-67c65e22='')
                  b(data-v-67c65e22='')
                    | Inovasi adalah kekuatan kami, dan kekuatan kami adalah kekuatan masing-masing individu. Dengan inovasi, perbaikan tidak memiliki batas akhir.
                | &#x9;&#x9;&#x9;&#x9;&#x9;Kami percaya pada kolaborasi menyeluruh dan mendalam dalam tim untuk terus melakukan inovasi dan perbaikan berkelanjutan. Mengalahkan kompetisi relatif mudah, namun mengalahkan diri sendiri membutuhkan komitmen tiada akhir.
      .container-mission(data-v-780dc5e4='', data-v-097e3dd4='')
        .uk-grid.uk-grid-medium.list-set(data-v-780dc5e4='')
          .uk-width-2-5.set(data-v-780dc5e4='')
            img(data-v-780dc5e4='', src='https://assets.bizzy.co.id/static-page/about/graph.svg', alt='')
          .uk-width-3-5.set(data-v-780dc5e4='')
            .title-mission.uk-margin(data-v-780dc5e4='')
              | Misi
            | &#x9;&#x9;&#x9;Bizzy.co.id memiliki misi untuk mendukung perekonomian yang bersih dengan menggerakan ekosistem bisnis digital yang inklusif yang memungkinkan perdagangan yang transparan, efisien, dan akuntabel bagi semua pemegang kepentingan.
      .container-why-us(data-v-b88da11c='', data-v-097e3dd4='')
        .why-us-box(data-v-b88da11c='')
          .uk-grid.uk-grid-medium.list-set(data-v-b88da11c='')
            .uk-width-2-5.set(data-v-b88da11c='')
              img(data-v-b88da11c='', src='https://assets.bizzy.co.id/static-page/about/why.svg', alt='')
            .uk-width-3-5.set(data-v-b88da11c='')
              .title-why-us(data-v-b88da11c='')
                | Menagapa Kami
              .uk-margin-medium-top.uk-margin-medium-bottom(data-v-b88da11c='')
                | Bizzy.co.id menghubungkan vendor dengan pelanggan bisnis, mulai dari UKM hingga korporasi dalam satu platform yang mempermudah seluruh proses pengadaan untuk perusahaan,  mulai dari pencarian cepat (Quick Search), bandingkan harga grosir bertingkat (Compare Tier Price), pilih penjual (Select Merchant), pembayaran secara mudah (Easy Pay), dan cek status pengiriman (Shipment Tracking).
              | &#x9;&#x9;&#x9;&#x9;Bizzy.co.id menghadirkan fitur-fitur yang khusus menjawab kebutuhan B2B yaitu harga grosir bertingkat sesuai jumlah pembelian (Tier Price), pilihan beberapa vendor untuk 1 sku produk dengan peringkat atas performa (Multiple Vendor with Rank), alur persetujuan (Approval Flow), faktur pajak online (e-Faktur), serta gratis biaya pengiriman ke kantor untuk area Jadetabek (Free Delivery).

  include ./includes/footer.jade

  script(src=contents.js['bizzy-uikit.min.js'].url)