

html(lang= setLocale(page.metadata.locale))
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title= page.title
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
      link(rel='stylesheet', href=contents.sass['bizzy-uikit.min.css'].url)
      link(rel='stylesheet', href=contents.sass['main.css'].url)
      link(rel="icon", type="image/png", sizes="16x16", href="https://assets.bizzy.co.id/favicon-16x16.png?v=2bQpAWeGdp")
      link(rel="icon", type="image/png", sizes="32x32", href="https://assets.bizzy.co.id/favicon-32x32.png?v=2bQpAWeGdp")

body

  header.header-background.uk-preserve-color
  
    include ./includes/header.jade

    .uk-sticky-placeholder(hidden='', style='height: 80px; margin: 0px;')
    .height-body
      .padding-body
        span.title-header
          != page.metadata.bannerTitle

  .container-static-page
    != typogr(page.html).typogrify()

  include ./includes/footer.jade

  script(src=contents.js['bizzy-uikit.min.js'].url)