doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
      link(rel='stylesheet', href=contents.css['main.css'].url)
      link(rel='stylesheet', href=contents.sass['main.css'].url)
      link(rel='stylesheet', href=contents.sass['bizzy-uikit.min.css'].url)
      link(rel="icon", type="image/png", sizes="16x16", href="https://assets.bizzy.co.id/favicon-16x16.png?v=2bQpAWeGdp")
      link(rel="icon", type="image/png", sizes="32x32", href="https://assets.bizzy.co.id/favicon-32x32.png?v=2bQpAWeGdp")

  body(class=bodyclass)
    header.header
      div.content-wrap
        block header
          div.logo
            h1
              a(href=locals.url)= locals.name
            p.description= locals.description
            
    div#content
      div.content-wrap
        block content
          h2 Welcome to zombocom!

    footer
      div.content-wrap
        block footer
          section.about
            !=contents['about.md'].html
          section.copy
            p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
              a(href='https://github.com/jnordberg/wintersmith') Wintersmith
              //- please leave the "powered by" if you use the design
